# Python
__pycache__/
*.py[cod]
*.env
venv/
.venv/
env/

# Logs
logs/*.log

# Data files (don't push actual sensor data)
data/*.csv
quarantine/*.csv

# Database
*.db
*.sqlite

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Excluding the original dataset
sample_data/iot_telemetry_data.csv